{% extends 'admin.html.twig' %}

{% block username %} ADMIN {% endblock %}
{% block strong %}Societe {%  endblock %}

    {% block h2 %} Information{% endblock %}

    {% block path %} {{ path('societe_index') }} {% endblock %}

{% block body %}

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="block-header">
                </div>
                <div class="body">

                    {{ form_start(form) }}



                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="email_address_2">societe</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.logo,{'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        {% if((form_errors(form.logo)==true)) %}
                            <div class="alert alert-primary" role="alert">
                                The logo is mandatory!
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 ">
                        <label for="email_address_2">name societe</label>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                            {{ form_widget(form.names,{'attr': {'class': 'form-control date','placeholder':'Ex: 2016-01-30'}}) }}

                        </div>
                    </div>
                    {% if((form_errors(form.names)==true)) %}
                        <div class="alert alert-primary" role="alert">
                            Missing info!
                        </div>  {% endif %}
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                    <label for="email_address_2">adresse</label>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                        {{ form_widget(form.address,{'attr': {'class': 'form-control date','placeholder':'Ex: 2016-01-30'}}) }}

                    </div>
                </div>
                {% if((form_errors(form.address)==true)) %}
                    <div class="alert alert-primary" role="alert">
                        Missing info!
                    </div>  {% endif %}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                <label for="password_2">email</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8">
                <div class="form-group">
                    {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {% if((form_errors(form.email)==true)) %}
                <div class="alert alert-primary" role="alert">
                    Type your new email!
                </div>  {% endif %}
        </div>
    </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
            <label for="password_2">telef</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8">
            <div class="form-group">
                {{ form_widget(form.tel,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if((form_errors(form.tel)==true)) %}
            <div class="alert alert-primary" role="alert">
                Type your new tel!
            </div>  {% endif %}
    </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
            <label for="password_2">Categorie</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8">

            {{ form_widget(form.idf) }}

        </div>
    </div>
    <div class="row clearfix">

        <div class="col-sm-8 offset-sm-2">
            <input type="submit" class="btn btn-raised btn-primary btn-round waves-effect" value="Save">
        </div>
    </div>


    {{ form_end(form) }}
    </div>
    </div>
    </div>
    </div>



{% endblock %}
