{% extends 'admin.html.twig' %}

{% block username %} {% endblock %}
{% block strong %} {%  endblock %}

    {% block h2 %} {% endblock %}

    {% block path %} {{ path('catr_index') }} {% endblock %}

{% block body %}



    <div class="row clearfix">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>catrs</strong> List  </h2>
                    <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                <li><a href="{{ path('catr_new') }}">new cat</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="body table-responsive members_profiles">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nom Categorie</th>
                            <th>Action</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for catr in catrs %}
                            <tr>

                                <td>{{ catr.nomR }}</td>

                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('catr_show', { 'idc': catr.idc }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('catr_edit', { 'idc': catr.idc }) }}">edit</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('catr_delete', { 'idc': catr.idc }) }}">delete</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
