{% extends 'admin.html.twig' %}

{% block username %} Adminstrator {% endblock %}

{% block strong %}{%  endblock %}

{%  block h2 %} {% endblock %}

{% block path %}
    {{ path('soc_index') }}
{% endblock %}

{% block body %}

    <div class="row clearfix">
        <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2> Liste des<strong> Societés de livraison</strong>  </h2>

                            <ul class="header-dropdown">
                                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                                        <li><a href="{{ path('soc_new') }}">Ajouter une societé de livraison</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="body table-responsive members_profiles">
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                            <br>
                            <table class="table table-hover">
                                <thead>
                                <tr style="border-bottom: 1px solid #ddd;">
                                    <th style="width:60px;">Societé</th>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Localisation</th>
                                    <th>Email</th>
                                    <th>Numéro Téléphone</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody id="myTable">
                                {% for soc in socs %}
                                    <tr style="border-bottom: 1px solid #ddd;">
                                        <td>
                                            <img class="rounded-circle" src="{{ asset('uploads/images/' ~ soc.logo) }}" alt="user" width="40" height="40">
                                        </td>

                                        <td><a href="{{ path('soc_show', { 'ids': soc.ids }) }}">{{ soc.ids }}</a></td>
                                        <td>
                                            <a href="javascript:void(0);">{{ soc.names }}</a>
                                        </td>
                                        <td>{{ soc.description }}</td>
                                        <td>{{ soc.address }}</td>
                                        <td>{{ soc.email }}</td>
                                        <td>{{ soc.tel }}</td>

                                        <td>
                                            <ul style="list-style:none">
                                               <li> <button><a href="{{ path('soc_show', { 'ids': soc.ids }) }}" >Afficher</a></button></li>
<br>
                                             <li>   <button> <a href="{{ path('soc_edit', { 'ids': soc.ids }) }}">Modifier</a></button></li>
                                                <br>
                                                <li>   <button> <a href="{{ path('soc_delete', { 'ids': soc.ids }) }}">Supprimer</a></button></li>

                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    {{ knp_pagination_render(socs) }}
{% endblock %}
