{% extends 'admin.html.twig' %}


{% block strong %} Livraison {%  endblock %}

    {% block h2 %} Information{% endblock %}

    {% block path %} {{ path('livr_index') }} {% endblock %}
{% block body %}



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="block-header">



                <div class="body">

                    {{ form_start(form,{'attr': {'class': 'form-horizontal'}}) }}
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="email_address_2">Client Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.namev,{'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% if((form_errors(form.namev)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    Missing info!
                                </div>  {% endif %}
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="email_address_2">Citét</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.cite,{'attr': {'class': 'form-control','placeholder':'cité'}}) }}
                            </div>
                            {% if((form_errors(form.cite)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    Missing cité!
                                </div>  {% endif %}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="email_address_2">street</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.street,{'attr': {'class': 'form-control','placeholder':'street'}}) }}
                            </div>
                            {% if((form_errors(form.street)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    Missing cité!
                                </div>  {% endif %}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="email_address_2">ville</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.ville,{'attr': {'class': 'form-control','placeholder':'ville'}}) }}
                            </div>
                            {% if((form_errors(form.ville)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    Missing cité!
                                </div>  {% endif %}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="email_address_2">Code postal</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.codep,{'attr': {'class': 'form-control','placeholder':'codep'}}) }}
                            </div>
                            {% if((form_errors(form.codep)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    Missing cité!
                                </div>  {% endif %}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="password_2">adresse email</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.emailv,{'attr': {'class': 'form-control','placeholder':'xxxxx@xxx'}}) }}
                            </div>
                            {% if((form_errors(form.emailv)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    Missing Date!
                                </div>  {% endif %}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="email_address_2">tél</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.tel,{'attr': {'class': 'form-control','placeholder':'Série...'}}) }}
                            </div>
                            {% if((form_errors(form.tel)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    Missing Série!
                                </div>  {% endif %}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                            <label for="password_2">mode livraison</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <div class="form-group">
                                {{ form_widget(form.modelivrraison) }}
                            </div>
                            {% if((form_errors(form.modelivrraison)==true)) %}
                                <div class="alert alert-primary" role="alert">
                                    You can't leave this field empty!
                                </div>  {% endif %}
                        </div>
                    </div>
                    <div class="row clearfix">

                        <div class="col-sm-8 offset-sm-2">
                            <input type="submit" class="btn btn-raised btn-primary btn-round waves-effect" value="Update">
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

    {% endblock %}
