

<h1>Livrs list</h1>

<table border="5">
    <thead>
    <tr>
        <th>Idv</th>
        <th>Namev</th>
        <th>Street</th>
        <th>Cite</th>
        <th>Ville</th>
        <th>Codep</th>
        <th>Emailv</th>
        <th>Tel</th>
        <th>Modelivrraison</th>
    </tr>
    </thead>
    <tbody>
    {% for livr in livrs %}
        <tr>
            <td><a href="{{ path('livr_show', { 'idv': livr.idv }) }}">{{ livr.idv }}</a></td>
            <td>{{ livr.namev }}</td>
            <td>{{ livr.street }}</td>
            <td>{{ livr.cite }}</td>
            <td>{{ livr.ville }}</td>
            <td>{{ livr.codep }}</td>
            <td>{{ livr.emailv }}</td>
            <td>{{ livr.tel }}</td>
            <td>{{ livr.modelivrraison }}</td>
            <td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
