{% extends 'admin.html.twig' %}

{% block username %} {% endblock %}
{% block strong %} {%  endblock %}

    {% block h2 %} {% endblock %}

    {% block path %} {{ path('Promotion_Affiche') }} {% endblock %}

{% block body %}



    <div class="row clearfix">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Promotion</strong> List  </h2>
                    <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                <li><a href="{{ path('Promotion_Ajout') }}">new promotion</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="body table-responsive members_profiles">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <!--th style="width:60px;">Soc Logo</th-->
                            <th>promotion ID</th>
                            <th>valeur</th>
                            <th>debut date</th>
                            <th>fin date</th>
                            <th>Produit</th>
                            <th>Action</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for p in promotions %}
                            <tr>


                                <td>{{p.id }}</td>
                                <td>{{p.valeur }}</td>
                                <td>{{ p.dateDebut| date("d/m/Y")  }}</td>
                                <td>{{ p.dateFin| date("d/m/Y")  }}</td>
                                <td>{{ p.idp.nom }}</td>

                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('Promotion_Supprimer', { 'id': p.id }) }}">supprimer</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('Promotion_Modifier', { 'id': p.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
