{% extends 'base2.html.twig' %}

{% block username %} Adminstrator{% endblock %}

{% block strong %}{%  endblock %}

{%  block h2 %} {% endblock %}

{% block path %}
    {{ path('livr_indexAdmin') }}
{% endblock %}

{% block body %}

    <div class="breadcrumb parallax">
        <h1>Register Account</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </div>

    <div class="container">
    <div class="row">
    <div class="col-sm-3 hidden-xs column-left" id="column-left">
        <div class="Categories left-sidebar-widget">
            <div class="columnblock-title">Account</div>
            <div class="category_block">
                <ul class="box-category">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="forgetpassword.html">Forgotten Password</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Address Book</a></li>
                    <li><a href="#">Wish List</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">Reward Points</a></li>
                    <li><a href="#">Transactions</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Recurring payments</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9" id="content">
        <fieldset id="address">
            <legend>Information commande</legend>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width:60px;">commande</th>
            <th>date</th>
            <th>modepayment</th>
            <th>somme</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>
        {% for commandeP in commandePs %}
            <tr>


                <td><a href="{{ path('comfront_show', { 'idcm': commandeP.idcm }) }}">{{ commandeP.idcm }}</a></td>
                <td>
                    <a href="javascript:void(0);">{{ commandeP.date | date("d/m/Y") }}</a>
                </td>
                <td>{{ commandeP.modepay }}</td>

                <td>{{ commandeP.idn.somme }}</td>


                <td>
                    <ol>
                        <li>
                            <a href="{{ path('comfront_show', { 'idcm': commandeP.idcm }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comfront_edit', { 'idcm': commandeP.idcm }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('comfront_delete', { 'idcm': commandeP.idcm }) }}">delete</a>
                        </li>
                    </ol>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
        </fieldset>



    </div>
    </div>
    </div>
{% endblock %}